{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">g</span><span class="base09">r</span><span class="base0a">u</span><span class="base0b">v</span><span class="base0c">b</span><span class="base0d">o</span><span class="base0e">x</span><span class="base05">]</span>
  <span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/gruvbox.svg" | relURL }}">
</div>

<div style="text-align: center;">
  Add your own "<code>layouts/partials/hero.html</code>" to replace this text.
</div>
